version: '3.9'
services: 
  backend: 
    build: .
    ports:
      - 8000:3000
    volumes: 
      - .:/app
  db: 
    image: mysql:5.7.22
    restart: always
    environment:
      MYSQL_DATABASE: abassador
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - .dbdata:/var/lib/mysql
    ports:
      - 3306:3306